/* Полное обнуление */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: sans-serif;
}

img, picture, video, canvas {
  max-width: 100%;
  height: auto;
}

button, input, select, textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

/* Общие стили */

#Wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  main {
    flex-grow: 1;
  }
} 

.container {
  width: 100%;  
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

