#Footer {
  width: 100%;
  padding: 15px 0px;
  background: rgba(0, 69, 255, 1);

  transition: background-color 0.3s ease;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .Logo {
      display: flex;
      align-items: center;
      gap: 15px;

      .logoImg {
        width: 80px;
        padding: 5px;
      }
    }
    .menuOpen{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
}
