#button {
    width: 230px;
    height: 56px;
    background-color: #0045FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    color: white !important;

    &::after{
        display: none !important;
    }

}